*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #96B6C5;
}

.header-main{
  background-color: #96B6C5;
  position: sticky;
}

.header-list{
  display: flex;
  gap: 1%;  
  background-color: #96B6C5;
}

.header-list li{
  list-style-type: none;
  padding: 10px;

}

.header-list li :link:hover{
  background-color: #EEE0C9;
  border-radius: 2px;
}

.header-list li :link{
  text-decoration: #F8F0E5;
}

.details{
  text-align: justify;
  width: 70%;
  height: auto;
}


.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.title-section {
  text-align: center;
  margin-bottom: 20px;
}

.image-section {
  text-align: center;
  margin-bottom: 20px;
}

.image-section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details {
  line-height: 1.6;
  text-align: justify;
  overflow-wrap: break-word;
}

/* Add specific styles to the paragraphs in the 'details' section */
.details p {
  margin-bottom: 20px;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .home-container {
    padding: 10px;
  }
}
