.App {
  text-align: center;
  
  color: red;
}

.table {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}

table, th, td {
  border: 3px solid red;
  color: blue;
  background-color: aliceblue;

}

.create-banner {
  color: red;
}

#btn {
  background-color: red;
  border: 2px solid black;
 
}
#btn:hover {
  background-color: yellowgreen;
  cursor: pointer;
}